:root {
  --green: rgba(54, 96, 72, .3);
}

/* signup page-----------------------------------------*/

* {
  margin: 0 auto;
  background-color: aliceblue;
}

.signupFormContainer {
  border: 2px solid gray;
  padding: 18px;
  border-radius: 6%;
  width: 80%;
  height: 50%;
  display: flex;
  align-content: center;
  flex-direction: column;
  text-align: center;
  background-color: var(--green);
}

.signupForm {
  margin-top: 50px;
  line-height: 5em;
  background-color: rbga(var(--green), 0.4);
}

.signupFormHeader {
  font-size: 39px;
  margin-top: 3px;
  background-color: rbga(var(--green), 0.4);
}

.username, .password {
  height: 25px;
  border-radius: 6%;
}

.username::placeholder, .password::placeholder {
  text-align: center;
  letter-spacing: .2rem;
  color: black;
  font-size: 12px;
}

.submit-btn {
  height: 25px;
  width: 90px;
  letter-spacing: .1rem;
}

.iconPlaceholder {
  background-color: black;
  border: 2px solid black;
  height: 25px;
  width: 25px;
  display: inline-block;
  position: relative;
  top: 10px;
}

/*Anthony CSS*/

.funButtonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 0px);
  border: none;
}

.linkToChat {
  margin: auto;
  padding: 10px;
  color: white;
  background-color: gray;
  text-decoration: none;
}