:root {
  --green: rgba(54, 96, 72, .3);
}

/* signup page-----------------------------------------*/

* {
  margin: 0;
  background-color: aliceblue;
}

.signupFormContainer {
  border: 2px solid gray;
  padding: 18px;
  border-radius: 6%;
  width: 50%;
  height: 80%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  background-color: var(--green);
}

.signupForm {
  margin-top: 0px;
  line-height: 3em;
  background-color: rbga(var(--green), 0.4);
}

.signupFormHeader {
  font-size: 72px;
  margin-top: 50px;
  background-color: rbga(var(--green), 0.4);
}

.username, .password {
  height: 25px;
  border-radius: 6%;
}

.username::placeholder, .password::placeholder {
  text-align: center;
  letter-spacing: .2rem;
  color: black;
  font-size: 12px;
}

.submit-btn {
  height: 25px;
  width: 90px;
  letter-spacing: .1rem;
}

.iconPlaceholder {
  background-color: black;
  border: 2px solid black;
  height: 25px;
  width: 25px;
  display: inline-block;
  position: relative;
  top: 10px;
}

/*Anthony CSS*/

/*JOIN CHAT*/

.joinDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 102px);
  
}

.joinTitle {
  margin-bottom: 10px;
}

.joinInput {
  padding: 10px;
}

.funButtonDiv {
  border: none;
  min-height: 50px;
}

.linkToChat {
  margin: auto;
  padding: 10px;
  color: white;
  background-color: gray;
  text-decoration: none;
}

.linkToLogin {
  margin-bottom: 40px;
  padding: 10px;
  color: white;
  background-color: gray;
  text-decoration: none;
  font-size: 34px;
}

/* NAVBAR */

.navbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: calc(100% - 20px);
  padding: 10px;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 2px;
  height: 60px;
}

.navbarList {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  padding: 0px;
}

.navbarListItem {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-right: 0px;
  font-weight: bold;
  text-align: center;
}

.navbarLink {
  text-decoration: none;
}

/* CHATS */

.ulChatTitles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px
}

.chatTitles {
  display: flex;
  width: calc(60%);
  height: 150px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: aliceblue;
}